body {
    background-color: #BFEDFF;
    margin: 0;
}
#Rainbow {
    height: 100%;
    opacity: 0.7;
    overflow: hidden;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 100%;
    z-index: -1;
}
#Rainbow .rainbow-color {
    height: 16.666666667%;
    margin-right: 20px;
    width: 100%;

}
#Rainbow #red {
    background-color: #FF0000;

}
#Rainbow #orange {
    background-color: #FF8000;

}
#Rainbow #yellow {
    background-color: #FFFF00;

}
#Rainbow #green {
    background-color: #008000;

}
#Rainbow #blue {
    background-color: #0000FF;

}
#Rainbow #violet {
    background-color: #A000C0;

}
